@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

/* ----- Special paddings/margins/text */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}

:root {
  --accent-clr: ;
  --bg-color-a: #EDE6DE;
  --bg-color-b: #F9F9F2;
  --bg-color-c: #3F3B51;

  --bg-color-g: #F8F3EF;
  --bg-color-h: #DBCFC3;
  --bg-color-d: #D6CCC0;
  --bg-color-e: #F8F8EF; 
  --bg-color-f: #938270;

  --text-color-a: #252525;
  --text-color-b: #887561; 
  --text-color-c: #3F3B51; 
  --text-color-d: #BDA686;
  --text-color-e: #A79176;
  --text-color-f: #3E3D3D;
  --text-color-g: #1F1E1E;
  --text-color-h: #F4EEED;
  --text-color-back: #FFFAF0;


/* font families */

    --ff-1: Merriweather, sans-serif;
    --ff-2: 'Lato', sans-serif;

    --big-font: 2.8rem;

    --fw-l: 300;
    --fw-n: 400;
    --fw-m: 500;
    --fw-sb: 600;
    --fw-b: 700;
    --fw-xb: 800;

    --fs-1: 3.5rem;       
    --fs-2: 3rem;         
    --fs-3: 2.3rem;       
    --fs-4: 2rem;         
    --fs-5: 1.8rem;       
    --fs-6: 1.6rem;  
    --fs-p: 1.5rem; 
    --fs-a: 10px; 
    --fs-b: 1rem; 
    /* --p-font: 1.1rem; */
--fs: 1.2em;
}

/* --------------------------------- Normal Styles */

/* ----- Navbar ----- */

body {
  min-height: 100vh;
  max-width: auto;
  background: var(--bg-color-b);
}

button:focus,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 15px 0;
  background-color: var(--bg-color-a);
  transition: all .50s ease;
  margin: 0 auto;
}

.logo img {
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 135px;
  width: 135px;
  margin-left: -20px;
  margin-right: 25px;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color-a);
  -webkit-text-stroke: var(--text-color-d) 1px;
}

.navbar-brand:hover {
  color: var(--text-color-d);
  cursor: pointer;
  -webkit-text-stroke: var(--text-color-a) .5px;
}

.navbar-nav .nav-item {
  margin: 0 8px;
}

.navbar-nav .nav-link {
  font-size: var(--fs-a);
  font-weight: var( --fw-n);
  display: inline-block;
  color: var(--text-color-b);
}

.active {
  font-size: var(--fs-a);
  font-weight: var(--fw-n);
  display: inline-block;
  color: var(--text-color-b) !important;
}

.active:hover {
  text-decoration: none;
  color: var(--text-color-g) !important;
  background: none;
  text-shadow: none;
  cursor: pointer;
}

.nav-item a:hover {
  text-decoration: none;
  color: var(--text-color-g);
  background: none;
  text-shadow: none;
  cursor: pointer;
}

ul.dropdown-menu {
  background-color: var(--bg-color-a);
}

.dropdown-menu .dropdown-item {
  margin-bottom: 10px;
  background: none;
  color: var(--text-color-a);
  font-size: var(--fs-a);
  font-weight: var(--fw-n);
}

.dropdown-menu .dropdown-item:hover {
  background-color: none;
  color: var(--text-color-a);
  cursor: pointer;
}

/* ----- Responsive NavBar ----- */

@media(max-width: 991.5px) {
  .navbar-brand {
    font-size: 20px
  }

  .navbar-nav .nav-item {
    margin: 5px 10px;
  }
}

/* ----- Hero Page ----- */

.hero  {
  padding: 0 14%;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;  
  background: url(assets/image/skeleton-Janique.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; 
  gap: 2rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hero-img img {
  width: 100%;
  height: 100%; 
  padding: 15px;
}

.hero-text h1 {
  font-size: var(--big-font);
  font-weight: 900;
  margin: 25px 0;
  text-align: center;
  justify-items: center; 
  color: var(--text-color-c);
}

.hero-text h5 {
  font-size: 1.6em;
  font-weight: var(--fw-n);
  letter-spacing: 1px;
  line-height: 2.5rem;
  text-align: center;
  padding: 15px 0;
  margin: 150px 0 15px 0;
  color: var(--text-color-c);
}

.hero-text p {
  width: 100%;
  max-width: 620px;
  font-size: 1.2rem;
  font-weight: var(--fw-n);
  text-align: center;
  line-height: 32px;
  color: var(--text-color-c);
  margin-bottom: 40px;
}

.main-hero {
  display: flex;
  align-items: center;
}

.main-hero .btn {
  display: inline-block;
  padding: 8px 32px;
  background: var(--bg-color-a);
  border: 2px solid transparent;
  border-radius: 7px;
  color: var(--text-color-a);
  font-size: 18px;
  font-weight: var(--fw-m);
  transition: all .6s ease;
  margin: 5px auto;
}

.main-hero .btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.scroll {
  position: absolute;
  top: 95%;
  right: 7%;
  transform: translateY(-50%);
}

.scroll a {
  font-size: 8px;
  color: var(--text-color-b);
}

.scroll i {
  font-size: 8px;
  color: var(--text-color-b);
  margin-right: 6px;
}

/* ----- Responsive Hero Section ----- */

@media (max-width: 920px) {
  .scroll {
    display: none;
    }

  .hero {
    grid-template-columns: 1fr;
    height: auto;
  }

  .hero-text {
    padding-top: 130px;
  }

  .main-hero .btn {
    padding: 8px 32px;
    margin: 5px auto;
  }

  .hero-img img {
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }  
}

@media (max-width: 440px) {
  .hero {
    grid-template-columns: 1fr;
    min-height: 100px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .hero-text {
    padding-top: 90px;
    font-size: 9px;
    font-size: .70rem;
    font-weight: 600;
    font-family: var(--ff-2);
  }

  .hero-text h1 {
    font-size: var(--fs-4);
    font-weight: var(--fw-b);
  }

  .hero-text p {
    font-size: 1rem;
    margin-left: 10px ;
    margin-right: 20px;
    padding-left: 40px ;
    padding-right: 60px; 
    margin-bottom: -5px;
  }

  .main-hero .btn {
    font-size: 14px;
    margin-top: 20px;
  }

  .hero-img {
    height: 400px;
    width: 400px;
    padding-bottom: 30rem;
    align-items: center;
    padding-right: 50px;
    margin-right: 100px;
  }
}

@media (max-width: 320px) {
  .hero {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    font-family: var(--ff-2);
    font-size: 9px; 
    font-weight: 500; 
  } 

  .hero-text h1 {
    font-size: var(--fs-4);
    font-weight: var(--fw-b);
  }

  .hero-text p {
    font-family: var(--ff-2);
    font-size: .85rem;
    font-weight: 500; 
    width: 46ch;
    margin-left: 26px;
  } 

  .main-hero .btn {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-img {
    display: none;
  }
}

/* ----- Intro Meet Dr Janique Section ----- */

.intro {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  padding: 100px;  
  display: flex;
  justify-content: space-between; 
  align-items: center;
 
}

.circle {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-a);
  clip-path: circle(70% at right -20%);
}

.intro {
 /* padding: 220px 100px;  
   gap: 5rem;  */
  background-color: var(--bg-color-d);
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;  
  z-index: 100; 
} 

.description {
  padding: 100px 80px 20px 50px;   
  position: relative; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description .textbox {
  position: relative;
  max-width: 600px;
  margin-right: 20px; 
  margin-left: 200px; 
  margin-top: -60px;
  padding: 5px;
  z-index: 1;
}

.description .textbox h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color-c);
  /* color: var(--text-color-h); */
  margin-bottom: 5px; 
}

.description .textbox h1 span {
  color: var(--text-color-d);
  /* color: var(--text-color-h); */
  font-size: 55px;
  color: var(--text-color-d);
  -webkit-text-stroke: var(--text-color-c) .5px;
}

.description .textbox h2 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 900;
  color: var(--text-color-c);
}

.description .textbox h2 span {
  color: var(--text-color-b);
  position: relative;
}

.description .textbox h2 span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0px;
  height: 100%;
  border-left: 4px solid var(--bg-color-) ;
  background-color: rgb(59, 58, 58);
  animation: text 5s infinite backwards steps(10);
  background-color:#F9F9F2;
  background-color: var(--bg-color-a); 
}

@keyframes text {

  0% {
    left: 0;
  }
  
  50% {
    left: 100%;
  }

  100% {
    left: 0;
  }

}

.description .textbox p {
  width: 500px;
  margin-top: 20px;
  line-height: 2rem; 
  color: var(--text-color-a);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1rem;
}

.intro img {
  background-color: var(--bg-color-d);
  padding: 20px;
  margin-left: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #252525;
  filter: brightness(1.1);
  z-index: 1;
}

.intro img:hover {
  box-shadow: 0px 0px 50px var(--text-color-b); 
}

/* keyframes animate {

  0% {
    transform: translateY(0px);
  }
  
  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }

} */

/* Media Queries Intro Section */

@media(max-width: 992px) {
  .intro {
    padding: 150px 10px 40px 40px;
    width: 100%;
  }

  .description .textbox {
    margin-left: 20px; 
    margin-right: 25px;
    margin-top: -180px;
  }

  .intro img {
    margin-left: -1rem;
    margin-top: -6rem;
  }  
}

@media(max-width: 768px) {
  .intro {
    padding: 150px 10px 40px 40px;
  }

  .description {
    padding: 100px 20px 20px 20px;   
    align-items: center;
  }

  .description .textbox {
    margin-left: 5px; 
    margin-bottom: 10px;
    line-height: normal;
  }

  .intro img {
    padding: 5px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px #252525;
    filter: brightness(1.1);
    z-index: 1;
    width: 360px ;
    height: 300px;
  }

  .description .textbox p {
    width: 420px;
  }

  .description .textbox h1 {
    font-size: 25px;
  }

  .description .textbox h1 span {
    font-size: 35px;
  }

  .description .textbox h2 {
    font-size: 25px;
  } 
      
  .description .textbox p {   
    font-size: 15px;
  } 
}


@media(max-width: 576px) {
  .intro {
    padding: 250px 10px 30px 15px; 
    width: 100%;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
  }

  .intro {
    /* padding: 20px 10px;  */
    
    background-color: var(--bg-color-d);
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;  
    z-index: 100; 
   } 

   .description {
    padding: 80px 30px 20px 30px;   
    position: relative; 
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .description .textbox { 
    align-content: center;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 120px 20px 20px 20px;
  }

  .description .textbox h2 span:after {
    border-left: 4px solid var(--text-color-b) ;
    background-color: var(--bg-color-h);
} 

  .intro img {
    flex-direction: column;
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }
 }

 @media(max-width: 320px) {
  .intro {
    padding: 50px 10px 30px 15px; 
    width: 100%;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
  }

  .intro {
    background-color: var(--bg-color-d);
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;  
    z-index: 100; 
   } 

   .description {
    padding: 100px 10px 10px 10px;   
  }

  .intro img {
    background-color: var(--bg-color-d);
    width: 280px;
    height: 350px;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px #252525;
    filter: brightness(1.1);
    z-index: 1;
  }

  .description .textbox {
    position: relative;
    margin-top: -60px;
    max-width: 60ch;
    margin-right: 5px; 
    margin-left: 5px; 
    padding: 5px;
    z-index: 1;
  }


  .description .textbox p {
    width: 250px;
 
    line-height: 2rem; 
    color: var(--text-color-a);

    font-weight: 500;
    font-size: 1rem;
    margin: 20px 50px 30px 10px;
  }

  .description .textbox h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 900;
    color: var(--text-color-c);
  }

  .description .textbox h2 span:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0px;
      height: 100%;
      border-left: 4px solid var(--bg-color-) ;
      background-color: rgb(59, 58, 58);
      animation: text 5s infinite backwards steps(10);
      background-color:#F9F9F2;
      background-color: var(--bg-color-h); 
    }
  }




 



/* ----- Footer ----- */

footer {
  display: grid;
  justify-content: center;
  align-items: end;
  min-height: 60vh;
  background: var(--bg-color-b);
  padding: 10px;
}

.foot {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--bg-color-a);
  padding: 50px 100px 8px 100px;
}

footer .cont-foot {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 2fr 2.5fr 2fr;
  grid-gap: 30px;
}

footer .cont-foot .sec h6 {
  position: relative;
  color: var(--text-color-a);
  font-weight: 600;
  margin-bottom: 15px;
}

footer .cont-foot .sec ul li  {
  color: var(--text-color-b);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px; 
  text-decoration: none;
}

footer .cont-foot .sec ul li a {
  color: var(--text-color-b);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px; 
  margin-top: 5px;
  text-decoration: none;
}

footer .cont-foot .sec ul li a ion-icon,
footer .cont-foot .quicklinks ul li a ion-icon {
  color: var(--text-color-b);
  font-size: 1.3rem;
  padding-top: 0;
  text-decoration: none;
}

footer .cont-foot .quicklinks {
  position: relative; 
}   
  
footer .cont-foot .quicklinks ul li {
  list-style: none;

}
  
footer .cont-foot .quicklinks ul li a {
  color: var(--text-color-b);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .cont-foot .quicklinks ul li a i {
  color: var(--text-color-b);
  font-size: 1.3rem;
  padding-top: 0px;
  text-decoration: none;
}

footer .wrapper .social-button {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}

footer .wrapper .social-button {
  display: inline-block; 
  height: 60px;
  width: 60px;
  float: left; 
  text-decoration: none;
  margin: 0 5px; 
  overflow: hidden;
  background: var(--bg-color-b);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
  transition: all 0.5s ease-in-out;
}

footer .wrapper .social-button:hover {
  width: 250px;
}

footer .wrapper .social-button .ion-icon {
  display: inline-block; 
  height: 60px;
  width: 60px;
  color: var(--text-color-c); 
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all .5s ease-in-out;
}

footer .wrapper .social-button:nth-child(1):hover .ion-icon {
  background:#25d366;
} 

footer  .wrapper .social-button:nth-child(2):hover .ion-icon {
  background:#1877f2;
} 

footer .wrapper .social-button:nth-child(3):hover .ion-icon {
  background: linear-gradient(15deg,#7232bd, #c32aa3, #ffdc7d); 
}

footer .wrapper .social-button .ion-icon  {
  font-size: 25px;
  line-height: 60px;
  transition: all .5s ease-in-out;
}

footer .wrapper .social-button:hover .ion-icon  {
  color: var(--bg-color-b);
}

footer .wrapper .social-button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  text-align: center;
  transition: all 0.5s ease-out;
}

footer .wrapper .social-button:nth-child(1) span {
  color: #25d366;
} 

footer .wrapper .social-button:nth-child(2) span {
  color: #1877f2;
}

footer .wrapper .social-button:nth-child(3) span {
  color: #c32aa3;  
}

footer .sec .logo .logo-img {
  position: relative;
}

footer .sec .logo .logo-img   {
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 50px;
  transition: all .5s ease-in-out;
}

.foot .head-name h5 {
  width: 100%;
  color: var(--text-color-a);
  padding-left: 30px;
}

.foot .head-name p {
  width: 100%;
  color: var(--text-color-a);
  font-size: 6px;
  padding-left: 30px;
}

.copyrightText span {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr ;
  grid-gap: 20px;
  padding: 10px 100px 20px;
  background: var(--bg-color-a); 
  border-top: 2px solid rgba(0,0,0,0.15);
}

/* ----- Footer End ----- */

/* ----- Media Queries Footer  ----- */

@media (max-width: 991px) {
  
  .foot {
    padding: 40px;
  }

  footer .cont-foot {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
  }

  footer .cont-foot .logo .logo-img {
    padding-top: 20px;
    padding-left: 50px;
  }
  
  .foot .head-name h5  {
    padding: 30px 15px 15px;
  }

  .copyrightText span {
    padding: 30px 15px 15px;
    }

}

@media (max-width: 768px) {

  footer .cont-foot {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:20px;
  }

}


oooooooooooo











/* ---------------------------------Contact Us Section */


.contact-container {
  display: flex;
  flex-wrap: nowrap;
}

.contactUs {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.contact-con {
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 40%, hsla(30, 31%, 78%, 1) 40%);
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;

}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs .title  h2 {
  color: #4A3729;
  color: red;
  font-family: Merriweather, sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 34px;
  padding-top: 30px;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.mapBox {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: #fefefe;
  background: yellow;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
  border-radius: 20px;
}

.contactBox {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
  "form info"
  "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  text-align: center;
  color:#4A3729;
  color: #42ffdb;
  font-family: Merriweather, sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 10px;
}

/* -------------- Form Box ------ */

.contactFormBox {
  position: relative;
  width: 100%;
}

.contactFormBox .row50 {
  display: flex;
  gap: 20px;
}

.contact-inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.contactFormBox .row100 .contact-inputBox {
  width: 100%;
}

.contact-inputBox span {
  color: #4A3729;
  color: #0100ec;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 10px;
}

.contact-inputBox input {
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
  outline: none;
  border: 1px solid #333;
  border-radius: 20px;
}

.contact-inputBox textarea {
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 350px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
}

.contact-inputBox input[type="submit"] {
  background: #111;
  color: #FEFEFE;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  max-width: 120px;
  cursor: pointer;
  padding: 14px 15px;
  margin-left: 250px;
  border-radius: 20px;
}

.contact-inputBox ::placeholder {
  color: #999999;
}

/* -------------- Contact Info Box ------ */

.info {
  background: #000;
}

.info h3 {
  color: #fefefe;
}

.info .infoBoxContact div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBoxContact div span{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  color: #fefefe;
  font-size: 1.5em;
  margin-right: 15px;
  border-radius: 50%;
}

.info .infoBoxContact div p {
  color: #fefefe;
  font-size: 1.1em;
}

.info .infoBoxContact div a {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.1em;
}

.mediaIcons {
  margin-top: 40px;
  display: flex;
}

.mediaIcons li {
  list-style: none;
  margin-right: 15px;
}

.mediaIcons li a {
  color: #fefefe;
  font-size: 2em;
  color: #ccc;
}

.mediaIcons a:hover {
  color: #EDE6DE;
}

.map {
  padding: 10px;
  border-radius: 20px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* ---------------------------------Clinico Section */

.imageBox div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.appointment {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.appointment .title2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title2 h2 {
  color:#fefefe;
  font-family: Merriweather, sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: .4em;
  margin-bottom: 5px;
  padding-top: 35px;
}

.care-image {
  grid-area: greet;
}

.fun-image {
  grid-area: fun;
}

.bookings {
  padding: 40px;
  background: #fefefe;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
  border-radius: 20px;
}

.bookings h3 {
  text-align: center;
  color:#4A3729;
  font-family: Merriweather, sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 35px;
}

.clinicoBox {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr;
  grid-template-areas:
  "imageBox care "
  "fun-image fun";
  grid-gap: 20px;
  margin-top: 20px;
}

.clinico {
  padding: 0;
}

.clinico iframe {
  width: 100%;
  height: 100%;
}

.clinico h3 {
  margin-bottom: .4em;
  text-align: center;
}

.clinico h6 {
  margin-bottom: 1.5em;
  text-align: center;
}

.clinico h5 {
  margin-bottom: 1em;
  text-align: center;
  font-style: italic;
}


/* -------------- Clinico Image Box Section ------ */

.imageBox {
  background: #000;

  width: 100%;
  border-radius: 20px;
}

.care-image h3 {
  text-align: center;
  color:#fefefe;
  font-family: Merriweather, sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 35px;
}

.imageCare {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.care {
  background: url("assets/image/care.jpg") no-repeat center center;
  background-size: cover;
  padding: 10px;
  margin: 10px;
}

.care img {
  border-style: solid;
  border-width: 4px;
  border-color: #fefefe;
  height: 350px;
  width: 300px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

/* -------------- Clinico Image Box 2 Section ------ */

.imageBox2 {
  background: #fefefe;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 20px;
}

.fun-image h3 {
  text-align: center;
  color: #4A3729;
color: #3F3B51;
  font-family: Merriweather, sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 35px;
  padding-top: 10px;
}

.imageFun {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.fun {
  background: url("assets/image/janfun.jpg") no-repeat center center;
  background-size: cover;
  padding: 10px;
  margin: 10px;
}

.fun img {
  border-style: solid;
  border-width: 4px;
  border-color: #000;
  height: 350px;
  width: 300px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

/* -------------- Media Queries----- */

@media (max-width: 991px)
{
  .contact-container
  {
      background: #EDE6DE;
  }
  .contactUs
  {
      padding: 20px;
  }
  .contactBox {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-area:
      "form"
      "Info"
      "map";
  }
  .contactformBox .row50
  {
      display: flex;
      gap: 0;
      flex-direction: column;
  }
  .contact-inputBox {
      width: 100%;
  }
  .contact
  {
      padding: 30px;
  }
  .map
  {
      min-height: 300px;
      padding: 0;
  }

  .appointment
  {
      padding: 20px;
  }

  .clinicoBox {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-area:
      "imageBox care"
      "fun-image fun";
  }

  .clinicoBox
  {
      padding: 30px;
  }


  .clinico
  {
      display: flex;
      gap: 0;
      flex-direction: column;
  }

.appointClinico {
  width: 100%;
  height: 100%;
}

  .imageCare

  {

  }
  .fun-image
  {
      min-height: 300px;
      padding: 0;
  }
}







    /* nav {
      padding: 10px 23px;
    } */





  /* @media (max-width:768px){



   */
  /* @media (max-width:450px){
    html{
      font-size: 50%;
    }
  } */


  .contain_Mystory {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* margin: 30px;
    padding: 50px; */
    margin-top: 15px;
    padding-top: 30px;

    /* background: url(assets/image/janiquey.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); */

    /* gap: 2rem; */

    z-index: 2000;


  }


  .contain_back {
   color: #5726d1;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .my_story h2 {
    text-align: center;
    margin-top: 10px;
  }

  .container_story {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background: #4a2702;
    background-color: #0aed21;


    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 60em;
    padding-top: -30px;
    padding-bottom: 20px;
  }

  .myStory-card {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #eb3ad6;
    border-radius: 20%;
  }

  .myStory-card img {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-color: #0e0f0f;
    padding: 25px 0 30px 30px;
    margin: 30px 0 20px 30px;
    border-radius: 20%;
  }

  .myStory-card-body {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 25px 30px 30px 0px;
    margin: 30px 30px 20px 0px;
    z-index: 1000;
    background-color: #0f6e6e;
    border-radius: 35%;
  }

  .myStory-card-body h5 {
    width: 100%;
    height: 100%;
    color: #f6f6f6;
    text-align: center;
    font-size: 2rem;
    padding: 25px;
    margin: 30px;
  }

  .myStory-card-body p {
    width: 100%;
    height: 100%;
    color: #0AEDED;
    font-size: 1.2rem;
    padding: 25px;
    margin: 30px;
  }




